.*un~
home/.*
home/*.log
home/cache/
home/fingerprints/
home/identity.key.enc
home/init.groovy.d/
home/jobs/**/builds/
home/jobs/**/lastStable
home/jobs/**/lastSuccessful
home/jobs/**/modules/
home/jobs/**/nextBuildNumber
home/logs/
home/nodeMonitors.xml
home/org.jenkinsci.plugins.workflow.flow.FlowExecutionList.xml
home/plugins/
home/plugins.txt
home/queue.xml
home/queue.xml.bak
home/scriptApproval.xml
home/secret.key
home/secret.key.not-so-secret
home/secrets/
home/updates/
home/users/
home/userContent/
home/war/
home/scriptApproval.xml
home/users/

services/omero/.java/
services/omero/.jenkins/
services/omero/.oracle_jre_usage/
services/omero/OMERO.server/
services/omero/omero/
services/omero/tools/

services/server/.java
services/server/.jenkins
services/server/.oracle_jre_usage
services/server/OMERO.server
services/server/omero
services/server/workspace
services/server/tools

services/slave/.m2
services/slave/.cache
services/slave/omero
services/slave/tools
services/slave/workspace
services/slave/*.jar
services/slave/.bash_history
services/slave/.exe4j4
services/slave/.install4j
services/slave/.gitconfig
services/slave/.java
services/slave/.jenkins
services/slave/.matplotlib
services/slave/.oracle_jre_usage
services/slave/.psql_history
services/slave/.local
services/slave/.ssh

services/web/.jenkins
services/web/.pip/
services/web/.bash_history
services/web/OMERO.server
services/web/omero-virtualenv/
services/web/omero/
services/web/static/
services/web/tools/
services/web/workspace/
services/web/.oracle_jre_usage